.headerRow {
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

.link {
    justify-content: space-between;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

:visited {
    color: purple
}

